name: Demo Notification job
on: [push]
jobs:
  First-Step:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Starting GitHub Actions Job"
      - uses: cinotify/github-action@main
        with:
          to: 'example@example.com'
          subject: 'building main'
          body: 'This is a notification from GitHub actions.'